# Data Scientist Salaries - Data Processing and analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
from sklearn.preprocessing import LabelEncoder

## Data Preparation

In [3]:
df = pd.read_csv('ds_salaries.csv')
print(df.shape)
print('\n')
df.info()

(3755, 11)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [4]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [5]:
df.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [6]:
# Extract categorical variables
cat_vars = ['experience_level', 'employment_type', 'job_title', 'employee_residence', 'company_location', 'company_size']

# Create LabelEncoder object
encoder = LabelEncoder()

# Encode categorical variables as integers
for var in cat_vars:
    df[var] = encoder.fit_transform(df[var])

In [7]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,3,2,84,80000,EUR,85847,26,100,25,0
1,2023,2,0,66,30000,USD,30000,75,100,70,2
2,2023,2,0,66,25500,USD,25500,75,100,70,2
3,2023,3,2,47,175000,USD,175000,11,100,12,1
4,2023,3,2,47,120000,USD,120000,11,100,12,1

In [8]:
df.drop(['salary','salary_currency'] , axis='columns', inplace = True)
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,3,2,84,85847,26,100,25,0
1,2023,2,0,66,30000,75,100,70,2
2,2023,2,0,66,25500,75,100,70,2
3,2023,3,2,47,175000,11,100,12,1
4,2023,3,2,47,120000,11,100,12,1

## Data Transformation

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

## Feature Selection

## Regression - Salary Prediction

In this section, a regression model is going to be trained and tested to predict the salaries of Data Scientists based on the other featuress.

In [10]:
#df_scaled converted to dataframe
df_scaled = pd.DataFrame(df_scaled, columns = df.columns)

# Describing Data Set
df_scaled.describe()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
count,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03
mean,-1.593130e-13,1.967948e-16,4.475189e-16,-5.109096e-17,6.055224e-17,2.119329e-16,1.513806e-17,-9.082837e-17,-6.812127e-17
std,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00
min,-3.433303e+00,-2.725008e+00,-1.495172e+01,-2.139921e+00,-2.100622e+00,-3.439432e+00,-9.524327e-01,-3.550953e+00,-2.343022e+00
25%,-5.404380e-01,-5.178456e-01,2.592668e-02,-6.831569e-01,-6.752143e-01,4.601861e-01,-9.524327e-01,4.506246e-01,2.078761e-01
50%,-5.404380e-01,5.857357e-01,2.592668e-02,-3.594315e-01,-4.076928e-02,4.601861e-01,-9.524327e-01,4.506246e-01,2.078761e-01
75%,9.059945e-01,5.857357e-01,2.592668e-02,3.959278e-01,5.936757e-01,4.601861e-01,1.105918e+00,4.506246e-01,2.078761e-01
max,9.059945e-01,5.857357e-01,7.514748e+00,2.823868e+00,4.955485e+00,5.641760e-01,1.105918e+00,5.077900e-01,2.758774e+00

As can be seen, the data is standardly scaled and is ready for regression.

In the following cell, data is split into train and test sets using `sklearn.train_test_split`.

In [34]:
#import train_test_split
from sklearn.model_selection import train_test_split

#seperating features and target
features = df.drop('salary_in_usd', axis=1)
target = df['salary_in_usd'].values

#split dataset into training and test features and targets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42, shuffle=False)

Scaling the training and test sets in order to start training. The test sets are scaled using the paramaters gained from fitting the scaler to the training sets. This decreases bias in the testing of the model.

In [35]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#reshaping y_train & y_test to apply the scaling transformation
y_train = y_train.reshape(-1,1)
y_test = y_test.reshape(-1,1)

y_train = scaler.fit_transform(y_train)
y_test = scaler.transform(y_test)

In the following cells, the model is built and tested.

In [36]:
#importing required library to build a neural network model
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [37]:
#Exploring X_train
print(X_train.shape)
df2 = pd.DataFrame(X_train)
df2.head()

(3004, 8)

     0    1    2         3     4    5     6    7
0  0.0  0.0  0.0  2.649351 -49.0  1.0 -45.0 -1.0
1  0.0 -1.0 -2.0  1.714286   0.0  1.0   0.0  1.0
2  0.0 -1.0 -2.0  1.714286   0.0  1.0   0.0  1.0
3  0.0  0.0  0.0  0.727273 -64.0  1.0 -58.0  0.0
4  0.0  0.0  0.0  0.727273 -64.0  1.0 -58.0  0.0

In [38]:
#Exploring y_train
df3 = pd.DataFrame(y_test)
df3.head()

          0
0  0.391632
1 -0.065272
2 -0.541679
3 -0.863157
4 -0.300251

A `Sequential` model is built comprising four `Dense` (fully interconnected) layers. It uses the non-linear `RELU` activation function for the hidden layers, and a `linear` output layer. `L2 kernel regularization` is introduced in order to prevent overfitting and promote good generalization to test scenarios.

In [39]:
#constructing model
model = Sequential([
    tf.keras.Input(shape=(8,)),
    Dense(units = 25, activation = 'relu', kernel_regularizer=tf.keras.regularizers.L2(0.001)),
    Dense(units = 10, activation = 'relu', kernel_regularizer=tf.keras.regularizers.L2(0.001)),
    Dense(units = 5, activation = 'relu', kernel_regularizer=tf.keras.regularizers.L2(0.001)),
    Dense(units = 1, activation = 'linear')
])

Model will use the `Adam`(adaptive moment estimation) optimization algorithm, and the `Mean Squared Error` loss function. It is initialized with a `Learning Rate` of 0.0001.

In [44]:
#compiling and summarizing model
from keras.optimizers import Adam
from keras.losses import MeanSquaredError
model.compile(optimizer = Adam(learning_rate = 0.001), loss='mean_squared_error')
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 25)                225

 dense_5 (Dense)             (None, 10)                260

 dense_6 (Dense)             (None, 5)                 55

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 546
Trainable params: 546
Non-trainable params: 0
_________________________________________________________________

Now the model is ready to be fit to the data. It is run for a 1000 `epochs`.

In [42]:
history = model.fit(X_train, y_train, validation_split= 0.2 ,epochs = 200)

Epoch 1/200
76/76 [==============================] - 1s 4ms/step - loss: 1.4617 - val_loss: 0.5151
Epoch 2/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5666 - val_loss: 0.4643
Epoch 3/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5513 - val_loss: 0.4633
Epoch 4/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5501 - val_loss: 0.4538
Epoch 5/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5482 - val_loss: 0.4613
Epoch 6/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5371 - val_loss: 0.4594
Epoch 7/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5323 - val_loss: 0.4619
Epoch 8/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5358 - val_loss: 0.4643
Epoch 9/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5338 - val_loss: 0.4598
Epoch 10/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5282 - val_loss: 0.4537
Epoch 11/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5314 - val_loss: 0.4542
Epoch 12/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5313 - val_loss: 0.4537
Epoch 13/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5254 - val_loss: 0.4693
Epoch 14/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5227 - val_loss: 0.4596
Epoch 15/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5269 - val_loss: 0.4538
Epoch 16/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5222 - val_loss: 0.4463
Epoch 17/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5156 - val_loss: 0.4523
Epoch 18/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5184 - val_loss: 0.4488
Epoch 19/200
76/76 [==============================] - 0s 3ms/step - loss: 0.5172 - val_loss: 0.4561
Epoch 20/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5335 - val_loss: 0.4550
Epoch 21/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5137 - val_loss: 0.4560
Epoch 22/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5146 - val_loss: 0.4466
Epoch 23/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5209 - val_loss: 0.4536
Epoch 24/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5178 - val_loss: 0.4450
Epoch 25/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5165 - val_loss: 0.4458
Epoch 26/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5041 - val_loss: 0.4495
Epoch 27/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5088 - val_loss: 0.4738
Epoch 28/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5071 - val_loss: 0.4396
Epoch 29/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5077 - val_loss: 0.4496
Epoch 30/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5179 - val_loss: 0.5146
Epoch 31/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5096 - val_loss: 0.4435
Epoch 32/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5032 - val_loss: 0.5591
Epoch 33/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5174 - val_loss: 0.4499
Epoch 34/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5029 - val_loss: 0.4438
Epoch 35/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5180 - val_loss: 0.4848
Epoch 36/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5086 - val_loss: 0.4577
Epoch 37/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5003 - val_loss: 0.4455
Epoch 38/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4939 - val_loss: 0.5202
Epoch 39/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5638 - val_loss: 0.4408
Epoch 40/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5023 - val_loss: 0.4444
Epoch 41/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4967 - val_loss: 0.4482
Epoch 42/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4981 - val_loss: 0.4460
Epoch 43/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4971 - val_loss: 0.4453
Epoch 44/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4970 - val_loss: 0.4419
Epoch 45/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4950 - val_loss: 0.4437
Epoch 46/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4949 - val_loss: 0.4502
Epoch 47/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4939 - val_loss: 0.4463
Epoch 48/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4970 - val_loss: 0.4495
Epoch 49/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5064 - val_loss: 0.4798
Epoch 50/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5129 - val_loss: 0.5828
Epoch 51/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4988 - val_loss: 0.4521
Epoch 52/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4925 - val_loss: 0.4509
Epoch 53/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4989 - val_loss: 0.4442
Epoch 54/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5002 - val_loss: 0.4376
Epoch 55/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4944 - val_loss: 0.4433
Epoch 56/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4896 - val_loss: 0.4572
Epoch 57/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4920 - val_loss: 0.4382
Epoch 58/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4914 - val_loss: 0.4375
Epoch 59/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4896 - val_loss: 0.4551
Epoch 60/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4890 - val_loss: 0.4448
Epoch 61/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4950 - val_loss: 0.5082
Epoch 62/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4893 - val_loss: 0.4349
Epoch 63/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4860 - val_loss: 0.4888
Epoch 64/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4914 - val_loss: 0.4426
Epoch 65/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4941 - val_loss: 0.4360
Epoch 66/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4829 - val_loss: 0.4361
Epoch 67/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4841 - val_loss: 0.4669
Epoch 68/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4893 - val_loss: 0.4350
Epoch 69/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4805 - val_loss: 0.4444
Epoch 70/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4822 - val_loss: 0.4359
Epoch 71/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4913 - val_loss: 0.4416
Epoch 72/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4840 - val_loss: 0.4479
Epoch 73/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4789 - val_loss: 0.4847
Epoch 74/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4840 - val_loss: 0.4365
Epoch 75/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4840 - val_loss: 0.4473
Epoch 76/200
76/76 [==============================] - 0s 2ms/step - loss: 0.5002 - val_loss: 0.4423
Epoch 77/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4795 - val_loss: 0.4659
Epoch 78/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4774 - val_loss: 0.4526
Epoch 79/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4840 - val_loss: 0.4358
Epoch 80/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4791 - val_loss: 0.4364
Epoch 81/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4741 - val_loss: 0.4387
Epoch 82/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4754 - val_loss: 0.4451
Epoch 83/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4802 - val_loss: 0.4370
Epoch 84/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4702 - val_loss: 0.4557
Epoch 85/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4840 - val_loss: 0.4366
Epoch 86/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4717 - val_loss: 0.4335
Epoch 87/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4696 - val_loss: 0.4524
Epoch 88/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4701 - val_loss: 0.4790
Epoch 89/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4767 - val_loss: 0.4408
Epoch 90/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4696 - val_loss: 0.4486
Epoch 91/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4672 - val_loss: 0.4431
Epoch 92/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4675 - val_loss: 0.4747
Epoch 93/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4712 - val_loss: 0.4327
Epoch 94/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4788 - val_loss: 0.4521
Epoch 95/200
76/76 [==============================] - 0s 3ms/step - loss: 0.4700 - val_loss: 0.4732
Epoch 96/200
76/76 [==============================] - 0s 3ms/step - loss: 0.4698 - val_loss: 0.4609
Epoch 97/200
76/76 [==============================] - 0s 3ms/step - loss: 0.4637 - val_loss: 0.4339
Epoch 98/200
76/76 [==============================] - 0s 3ms/step - loss: 0.4635 - val_loss: 0.4409
Epoch 99/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4642 - val_loss: 0.4400
Epoch 100/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4645 - val_loss: 0.4354
Epoch 101/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4737 - val_loss: 0.4245
Epoch 102/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4683 - val_loss: 0.4337
Epoch 103/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4597 - val_loss: 0.4314
Epoch 104/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4595 - val_loss: 0.4451
Epoch 105/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4697 - val_loss: 0.4264
Epoch 106/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4642 - val_loss: 0.4369
Epoch 107/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4786 - val_loss: 0.4430
Epoch 108/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4611 - val_loss: 0.4421
Epoch 109/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4661 - val_loss: 0.4607
Epoch 110/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4718 - val_loss: 0.4344
Epoch 111/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4573 - val_loss: 0.4364
Epoch 112/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4558 - val_loss: 0.4487
Epoch 113/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4660 - val_loss: 0.4299
Epoch 114/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4581 - val_loss: 0.4281
Epoch 115/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4584 - val_loss: 0.4409
Epoch 116/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4618 - val_loss: 0.4751
Epoch 117/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4639 - val_loss: 0.4334
Epoch 118/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4617 - val_loss: 0.4291
Epoch 119/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4562 - val_loss: 0.4468
Epoch 120/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4623 - val_loss: 0.4583
Epoch 121/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4680 - val_loss: 0.4562
Epoch 122/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4569 - val_loss: 0.4453
Epoch 123/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4563 - val_loss: 0.4377
Epoch 124/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4596 - val_loss: 0.4244
Epoch 125/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4570 - val_loss: 0.4339
Epoch 126/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4698 - val_loss: 0.4430
Epoch 127/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4606 - val_loss: 0.4291
Epoch 128/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4595 - val_loss: 0.4479
Epoch 129/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4573 - val_loss: 0.4400
Epoch 130/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4541 - val_loss: 0.4424
Epoch 131/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4620 - val_loss: 0.4665
Epoch 132/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4610 - val_loss: 0.4320
Epoch 133/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4557 - val_loss: 0.4458
Epoch 134/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4585 - val_loss: 0.4357
Epoch 135/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4533 - val_loss: 0.4511
Epoch 136/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4565 - val_loss: 0.4492
Epoch 137/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4581 - val_loss: 0.4523
Epoch 138/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4631 - val_loss: 0.4664
Epoch 139/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4623 - val_loss: 0.4464
Epoch 140/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4528 - val_loss: 0.4346
Epoch 141/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4557 - val_loss: 0.4673
Epoch 142/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4565 - val_loss: 0.4335
Epoch 143/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4728 - val_loss: 0.4311
Epoch 144/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4506 - val_loss: 0.4667
Epoch 145/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4556 - val_loss: 0.4478
Epoch 146/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4557 - val_loss: 0.4639
Epoch 147/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4606 - val_loss: 0.4409
Epoch 148/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4571 - val_loss: 0.4350
Epoch 149/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4558 - val_loss: 0.4551
Epoch 150/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4683 - val_loss: 0.4681
Epoch 151/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4545 - val_loss: 0.4427
Epoch 152/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4524 - val_loss: 0.4559
Epoch 153/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4545 - val_loss: 0.4395
Epoch 154/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4553 - val_loss: 0.4511
Epoch 155/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4524 - val_loss: 0.4534
Epoch 156/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4539 - val_loss: 0.4473
Epoch 157/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4568 - val_loss: 0.4596
Epoch 158/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4780 - val_loss: 0.4723
Epoch 159/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4573 - val_loss: 0.4472
Epoch 160/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4537 - val_loss: 0.4479
Epoch 161/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4542 - val_loss: 0.4306
Epoch 162/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4539 - val_loss: 0.4418
Epoch 163/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4528 - val_loss: 0.4358
Epoch 164/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4552 - val_loss: 0.4533
Epoch 165/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4579 - val_loss: 0.4460
Epoch 166/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4468 - val_loss: 0.4448
Epoch 167/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4583 - val_loss: 0.4387
Epoch 168/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4500 - val_loss: 0.4450
Epoch 169/200
76/76 [==============================] - 0s 3ms/step - loss: 0.4543 - val_loss: 0.4358
Epoch 170/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4478 - val_loss: 0.4561
Epoch 171/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4482 - val_loss: 0.4559
Epoch 172/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4493 - val_loss: 0.4398
Epoch 173/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4552 - val_loss: 0.4397
Epoch 174/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4473 - val_loss: 0.4295
Epoch 175/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4488 - val_loss: 0.4491
Epoch 176/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4484 - val_loss: 0.4574
Epoch 177/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4513 - val_loss: 0.4506
Epoch 178/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4500 - val_loss: 0.4393
Epoch 179/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4582 - val_loss: 0.4451
Epoch 180/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4508 - val_loss: 0.4465
Epoch 181/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4486 - val_loss: 0.4316
Epoch 182/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4499 - val_loss: 0.4572
Epoch 183/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4573 - val_loss: 0.4768
Epoch 184/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4550 - val_loss: 0.4466
Epoch 185/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4495 - val_loss: 0.4396
Epoch 186/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4503 - val_loss: 0.4359
Epoch 187/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4526 - val_loss: 0.4417
Epoch 188/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4548 - val_loss: 0.4343
Epoch 189/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4454 - val_loss: 0.4353
Epoch 190/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4478 - val_loss: 0.4748
Epoch 191/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4527 - val_loss: 0.4386
Epoch 192/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4531 - val_loss: 0.4878
Epoch 193/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4501 - val_loss: 0.4498
Epoch 194/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4466 - val_loss: 0.4371
Epoch 195/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4483 - val_loss: 0.4492
Epoch 196/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4452 - val_loss: 0.4391
Epoch 197/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4459 - val_loss: 0.4555
Epoch 198/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4496 - val_loss: 0.4441
Epoch 199/200
76/76 [==============================] - 0s 2ms/step - loss: 0.4453 - val_loss: 0.4580

Training finished with loss of = 0.4468 on the training set. It can be said that the model has `low bias`, i.e. fits the training data well. However, the validation loss suggests little over fittin, for it has a 3% increase over the training loss. The model will be further tested for generalization and overfitting over the test set.

Forward propogation will be used to predict the target for the test set `y_hat`, which will be compared with the true target `y_test`

In [45]:
y_hat = model.predict(X_test)

24/24 [==============================] - 0s 1ms/step

The `mean_squared_error` function is imported from `sklearn` to be applied between `y_hat` and `y_test`

In [46]:
#
from sklearn.metrics import mean_squared_error
mean_squared_error(y_pred = y_hat, y_true = y_test)

0.5347085573696958

As can be seen, test error is 0.5347, which compared to the training error of 0.0.4468 is a 19.6% increase in error. The model can be said to have high varianve, thus, further improvement is needed.

Real values of `y_hat` and `y_test` can be compared by applying the inverse transformation to the data.

In [47]:
y_hat_real = pd.DataFrame(scaler.inverse_transform(y_hat))
y_test_real = pd.DataFrame(scaler.inverse_transform(y_test))
pd.concat([y_hat_real, y_test_real], axis = 1)

                 0         0
0    175743.906250  170000.0
1    175743.906250  135000.0
2     95198.796875   98506.0
3     95198.796875   73880.0
4    114473.210938  117000.0
..             ...       ...
746  224238.187500  412000.0
747  126817.992188  151000.0
748   87687.234375  105000.0
749  125564.500000  100000.0
750   92405.843750   94665.0

[751 rows x 2 columns]

It can be seen the model has high error margins. There are few things that can be improved. 
1. The model architecture can be changed, such as the number of hidden layers and/or neurons.
2. The hyperparametres can be adjusted, such the learning rate or regularization parametres.
3. More training epochs might be needed.
4. Further data collection and preperation might be needed.
5. Use a different machine learning algorithm such as XGBoost

### Regression using XGBoost

In this section, an XGBoost learning model will be built to further improve predictions. The `XGBRegressor` class from `xgboost` is used to build the model.

In [48]:
#xgboost library and the XGBRegressor class are imported
import xgboost as xgb
from xgboost import XGBRegressor

`XGBRegressor` is initialized with a squared error loss function for the regression task, and a `random_state` to produce repeatable results.

In [53]:
# define the XGBoost model
xgb_model = XGBRegressor(objective='reg:squarederror', random_state=42)

# train the model using X_train and y_train
xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=42, ...)

The model is tested on the test set using `xgb_model.predict`, and evaluated using the `sklearn` function `mean_squared_error`.

In [51]:
# make predictions on the test set
y_pred = xgb_model.predict(X_test)

# evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error:", mse)

Mean Squared Error: 0.4719166585793818

In [52]:
y_pred_real = pd.DataFrame(scaler.inverse_transform(y_hat))
pd.concat([y_pred_real, y_test_real], axis = 1)

                 0         0
0    175743.906250  170000.0
1    175743.906250  135000.0
2     95198.796875   98506.0
3     95198.796875   73880.0
4    114473.210938  117000.0
..             ...       ...
746  224238.187500  412000.0
747  126817.992188  151000.0
748   87687.234375  105000.0
749  125564.500000  100000.0
750   92405.843750   94665.0

[751 rows x 2 columns]

As can be seen, results are slightly better suggesting better generalization and less variance(overfitting).