# Data Scientist Salaries - Data Processing and analysis

In [217]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
from sklearn.preprocessing import LabelEncoder

## Data Preparation

In [218]:
df = pd.read_csv('ds_salaries.csv')
print(df.shape)
print('\n')
df.info()

(3755, 11)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [219]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [220]:
df.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [221]:
# Extract categorical variables
cat_vars = ['experience_level', 'employment_type', 'job_title', 'employee_residence', 'company_location', 'company_size']

# Create LabelEncoder object
encoder = LabelEncoder()

# Encode categorical variables as integers
for var in cat_vars:
    df[var] = encoder.fit_transform(df[var])

In [222]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,3,2,84,80000,EUR,85847,26,100,25,0
1,2023,2,0,66,30000,USD,30000,75,100,70,2
2,2023,2,0,66,25500,USD,25500,75,100,70,2
3,2023,3,2,47,175000,USD,175000,11,100,12,1
4,2023,3,2,47,120000,USD,120000,11,100,12,1

In [223]:
df.drop(['salary','salary_currency'] , axis='columns', inplace = True)
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,3,2,84,85847,26,100,25,0
1,2023,2,0,66,30000,75,100,70,2
2,2023,2,0,66,25500,75,100,70,2
3,2023,3,2,47,175000,11,100,12,1
4,2023,3,2,47,120000,11,100,12,1

## Data Transformation

In [369]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

## Feature Selection

## Regression - Salary Prediction

In this section, a regression model is going to be trained and tested to predict the salaries of Data Scientists based on the other featuress.

In [344]:
#df_scaled converted to dataframe
df_scaled = pd.DataFrame(df_scaled, columns = df.columns)

# Describing Data Set
df_scaled.describe()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
count,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03,3.755000e+03
mean,-1.593130e-13,1.967948e-16,4.475189e-16,-5.109096e-17,6.055224e-17,2.119329e-16,1.513806e-17,-9.082837e-17,-6.812127e-17
std,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00,1.000133e+00
min,-3.433303e+00,-2.725008e+00,-1.495172e+01,-2.139921e+00,-2.100622e+00,-3.439432e+00,-9.524327e-01,-3.550953e+00,-2.343022e+00
25%,-5.404380e-01,-5.178456e-01,2.592668e-02,-6.831569e-01,-6.752143e-01,4.601861e-01,-9.524327e-01,4.506246e-01,2.078761e-01
50%,-5.404380e-01,5.857357e-01,2.592668e-02,-3.594315e-01,-4.076928e-02,4.601861e-01,-9.524327e-01,4.506246e-01,2.078761e-01
75%,9.059945e-01,5.857357e-01,2.592668e-02,3.959278e-01,5.936757e-01,4.601861e-01,1.105918e+00,4.506246e-01,2.078761e-01
max,9.059945e-01,5.857357e-01,7.514748e+00,2.823868e+00,4.955485e+00,5.641760e-01,1.105918e+00,5.077900e-01,2.758774e+00

As can be seen, the data is standardly scaled and is ready for regression.

In the following cell, data is split into train and test sets using `sklearn.train_test_split`.

In [370]:
#import train_test_split
from sklearn.model_selection import train_test_split

#seperating features and target
features = df_scaled.drop('salary_in_usd', axis=1)
target = df_scaled['salary_in_usd'].values

#split dataset into training and test features and targets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42, shuffle=True)

In the following cells, the model is built and tested.

In [248]:
#importing required library to build a neural network model
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [249]:
#Exploring X_train
print(X_train.shape)
df3 = pd.DataFrame(X_train)
df3.head()

(3004, 8)

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
2238,-0.540438,0.585736,0.025927,-0.359431,-2.087565,-0.952433,-2.121818,0.207876
485,0.905994,-0.517846,0.025927,2.662006,0.460186,1.105918,0.450625,0.207876
2177,-0.540438,0.585736,0.025927,-0.791065,0.460186,-0.952433,0.450625,0.207876
3305,-0.540438,0.585736,0.025927,-0.359431,0.460186,1.105918,0.450625,0.207876
1769,0.905994,0.585736,0.025927,-0.359431,0.460186,1.105918,0.450625,0.207876

A `Sequential` model is built comprising four `Dense` (fully interconnected) layers. It uses the non-linear `RELU` activation function for the hidden layers, and a `linear` output layer. `L2 kernel regularization` is introduced in order to prevent overfitting and promote good generalization to test scenarios.

In [288]:
#constructing model
model = Sequential([
    tf.keras.Input(shape=(8,)),
    Dense(units = 25, activation = 'relu', kernel_regularizer=tf.keras.regularizers.L2(0.001)),
    Dense(units = 10, activation = 'relu', kernel_regularizer=tf.keras.regularizers.L2(0.001)),
    Dense(units = 5, activation = 'relu', kernel_regularizer=tf.keras.regularizers.L2(0.001)),
    Dense(units = 1, activation = 'linear')
])

Model will use the `Adam`(adaptive moment estimation) optimization algorithm, and the `Mean Squared Error` loss function. It is initialized with a `Learning Rate` of 0.01.

In [289]:
#compiling and summarizing model
from keras.optimizers import Adam
from keras.losses import MeanSquaredError
model.compile(optimizer = Adam(learning_rate = 0.001), loss='mean_squared_error')
model.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_81 (Dense)            (None, 25)                225

 dense_82 (Dense)            (None, 10)                260

 dense_83 (Dense)            (None, 5)                 55

 dense_84 (Dense)            (None, 1)                 6

=================================================================
Total params: 546
Trainable params: 546
Non-trainable params: 0
_________________________________________________________________

In [290]:
y_train.shape

(3004,)

Now the model is ready to be fit to the data. It is run for a 200 `epochs`, and a `batch size` of 200.

In [303]:
history = model.fit(X_train, y_train, batch_size = 200, epochs = 200)

Epoch 1/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5508
Epoch 2/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5529
Epoch 3/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5559
Epoch 4/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5519
Epoch 5/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5537
Epoch 6/200
16/16 [==============================] - 0s 3ms/step - loss: 0.5554
Epoch 7/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5580
Epoch 8/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5501
Epoch 9/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5498
Epoch 10/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5455
Epoch 11/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5461
Epoch 12/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5576
Epoch 13/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5576
Epoch 14/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5534
Epoch 15/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5497
Epoch 16/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5460
Epoch 17/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5510
Epoch 18/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5483
Epoch 19/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5534
Epoch 20/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5744
Epoch 21/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5560
Epoch 22/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5509
Epoch 23/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5461
Epoch 24/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5507
Epoch 25/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5465
Epoch 26/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5438
Epoch 27/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5555
Epoch 28/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5496
Epoch 29/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5476
Epoch 30/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5506
Epoch 31/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5493
Epoch 32/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5463
Epoch 33/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5641
Epoch 34/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5532
Epoch 35/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5558
Epoch 36/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5471
Epoch 37/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5479
Epoch 38/200
16/16 [==============================] - 0s 3ms/step - loss: 0.5479
Epoch 39/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5466
Epoch 40/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5491
Epoch 41/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5451
Epoch 42/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5499
Epoch 43/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5520
Epoch 44/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5500
Epoch 45/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5724
Epoch 46/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5692
Epoch 47/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5529
Epoch 48/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5478
Epoch 49/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5463
Epoch 50/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5472
Epoch 51/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5608
Epoch 52/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5518
Epoch 53/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5482
Epoch 54/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5454
Epoch 55/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5454
Epoch 56/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5457
Epoch 57/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5482
Epoch 58/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5508
Epoch 59/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5477
Epoch 60/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5475
Epoch 61/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5475
Epoch 62/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5477
Epoch 63/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5472
Epoch 64/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5452
Epoch 65/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5599
Epoch 66/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5518
Epoch 67/200
16/16 [==============================] - 0s 3ms/step - loss: 0.5661
Epoch 68/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5523
Epoch 69/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5467
Epoch 70/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5445
Epoch 71/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5466
Epoch 72/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5909
Epoch 73/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5727
Epoch 74/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5557
Epoch 75/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5547
Epoch 76/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5478
Epoch 77/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5461
Epoch 78/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5449
Epoch 79/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5463
Epoch 80/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5547
Epoch 81/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5542
Epoch 82/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5590
Epoch 83/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5474
Epoch 84/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5450
Epoch 85/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5442
Epoch 86/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5449
Epoch 87/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5469
Epoch 88/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5445
Epoch 89/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5451
Epoch 90/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5504
Epoch 91/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5461
Epoch 92/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5462
Epoch 93/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5449
Epoch 94/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5505
Epoch 95/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5497
Epoch 96/200
16/16 [==============================] - 0s 3ms/step - loss: 0.5575
Epoch 97/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5470
Epoch 98/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5470
Epoch 99/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5459
Epoch 100/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5466
Epoch 101/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5435
Epoch 102/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5517
Epoch 103/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5461
Epoch 104/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5474
Epoch 105/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5461
Epoch 106/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5453
Epoch 107/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5621
Epoch 108/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5521
Epoch 109/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5445
Epoch 110/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5553
Epoch 111/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5499
Epoch 112/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5468
Epoch 113/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5807
Epoch 114/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5584
Epoch 115/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5622
Epoch 116/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5576
Epoch 117/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5497
Epoch 118/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5498
Epoch 119/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5478
Epoch 120/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5462
Epoch 121/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5526
Epoch 122/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5680
Epoch 123/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5565
Epoch 124/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5496
Epoch 125/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5475
Epoch 126/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5466
Epoch 127/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5463
Epoch 128/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5521
Epoch 129/200
16/16 [==============================] - 0s 3ms/step - loss: 0.5454
Epoch 130/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5497
Epoch 131/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5469
Epoch 132/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5718
Epoch 133/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5890
Epoch 134/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5637
Epoch 135/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5478
Epoch 136/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5451
Epoch 137/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5470
Epoch 138/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5451
Epoch 139/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5453
Epoch 140/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5524
Epoch 141/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5524
Epoch 142/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5445
Epoch 143/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5488
Epoch 144/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5507
Epoch 145/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5488
Epoch 146/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5503
Epoch 147/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5462
Epoch 148/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5453
Epoch 149/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5602
Epoch 150/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5522
Epoch 151/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5596
Epoch 152/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5506
Epoch 153/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5457
Epoch 154/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5438
Epoch 155/200
16/16 [==============================] - 0s 3ms/step - loss: 0.5509
Epoch 156/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5460
Epoch 157/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5457
Epoch 158/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5463
Epoch 159/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5423
Epoch 160/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5434
Epoch 161/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5427
Epoch 162/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5503
Epoch 163/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5459
Epoch 164/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5468
Epoch 165/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5464
Epoch 166/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5462
Epoch 167/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5547
Epoch 168/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5522
Epoch 169/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5456
Epoch 170/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5568
Epoch 171/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5479
Epoch 172/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5486
Epoch 173/200
16/16 [==============================] - 0s 3ms/step - loss: 0.5446
Epoch 174/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5443
Epoch 175/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5549
Epoch 176/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5553
Epoch 177/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5444
Epoch 178/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5491
Epoch 179/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5430
Epoch 180/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5483
Epoch 181/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5459
Epoch 182/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5457
Epoch 183/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5538
Epoch 184/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5932
Epoch 185/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5578
Epoch 186/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5554
Epoch 187/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5484
Epoch 188/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5464
Epoch 189/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5487
Epoch 190/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5488
Epoch 191/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5469
Epoch 192/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5453
Epoch 193/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5454
Epoch 194/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5521
Epoch 195/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5463
Epoch 196/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5567
Epoch 197/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5477
Epoch 198/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5525
Epoch 199/200
16/16 [==============================] - 0s 2ms/step - loss: 0.5493
Epoch 200/200
16/16 [==============================] - 0s 1ms/step - loss: 0.5453

Training finished with loss of = 0.5453 on the training set. It can be said that the model has `low bias`, i.e. fits the training data well. However, the model will be tested for generalization and overfitting over the test set.

Forward propogation will be used to predict the target for the test set `y_hat`, which will be compared with the true target `y_test`

In [307]:
y_hat = model.predict(X_test)

24/24 [==============================] - 0s 1ms/step

The `mean_squared_error` function is imported from `sklearn` to be applied between `y_hat` and `y_test`

In [308]:
#
from sklearn.metrics import mean_squared_error
mean_squared_error(y_pred = y_hat, y_true = y_test)

0.6382023927405422

As can be seen, test error is 0.6382, which compared to the training error of 0.5453 is a 17% increase in error. The model can be said to not have high varianve, but further improvement is possible.

Real values of `y_hat` and `y_test` can be compared by applying the inverse transformation to the data.